:root {
  --font-family: "Michroma", sans-serif;
  --background-black: #03071E;
  --content-purple: #c86bfa;
  --content-text: #FFEE32;
  --base-font-size: 20px;
  --section-margin: 5rem;
  --content-margin: 2.5rem;
  --group-margin: 1rem;
  --font-margin: 0.5rem;
  --input-width: 750px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  background-color: var(--background-black);
  color: var(--content-text);
}

form {
  margin: 10vh 20vw;
}

h1 {
  font-size: 2rem;
  color: var(--content-purple);
}

fieldset {
  border-color: var(--content-text);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: var(--section-margin);
}

legend {
  text-align: center;
  font-size: 0.8rem;
}

.group {
  display: flex;
  flex-direction: column;
  margin-top: var(--group-margin);
}

.group-content {
  margin-top: var(--font-margin);
  border: 1px solid var(--content-purple);
  border-radius: 10px;
  width: var(--input-width);
  height: var(--content-margin);
}

.group-radio label {
  color: var(--content-purple);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(180deg);
}

textarea {
  display: inline-block;
  border: 1px solid var(--content-purple);
  border-radius: 10px;
  margin-top: var(--font-margin);
  width: var(--input-width);
  height: calc(var(--content-margin)*2);
  resize: none;
}

.btn {
  margin-top: var(--section-margin);
}

button {
  cursor: pointer;
  margin-top: var(--section-margin);
}

button:hover {
  background-color: var(--content-text);
  color: var(--content-purple);
  border: none;
}