/* 单位跟着公司标准和要求 */
/* 混着用好不好要看情况 */

:root {
  /* font */
  --font-family: Arial, Helvetica, sans-serif;
  --font-size: 20px;
  --field-title-size: 1.7rem;
  --choice-size: 1rem;
  /* padding */
  --main-padding: 3rem;
  /* margin */
  --main-margin: 30%;
  --title-margin: 2rem;
  --fieldset-margin: 5rem;
  --fieldset-section-margin: 1.5rem;
  --label-margin: 0.5rem;
  /* size */
  --input-height: 2.5rem;
  /* radius */
  --radius: 3px;
  /* color */
  --background-color: #F7F7F7;
  --input-color: #e4e8e3;
  --green-color: #07C160;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

main {
  display: inline-block;
  background-color: var(--background-color);
  height: 100%;
  padding: var(--main-padding);
  margin-left: var(--main-margin);
}

.form-title {
  text-align: center;
  margin-bottom: var(--title-margin);
}

.form-fieldset {
  margin-bottom: var(--fieldset-margin);
  border: none;
}

.form-fieldset-title {
  font-size: var(--field-title-size);
}

.form-fieldset-title::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--green-color);
}

.form-group {
  margin-top: var(--fieldset-section-margin)
}

.form-label {
  margin-bottom: var(--label-margin);
}

.form-input {
  display: block;
  width: 100%;
  height: var(--input-height);
  border: none;
  background-color: var(--input-color);
  border-radius: var(--radius);
}

.form-selects-group {
  display: flex;
  flex-direction: column;
}

.form-selects label {
  font-size: var(--choice-size);
}

.form-textarea {
  display: block;
  resize: none;
  width: 100%;
  height: calc(var(--input-height)*3);
  border: none;
  border-radius: var(--radius);
  background-color: var(--input-color);
}

.form-submit {
  background-color: var(--green-color);
  color: var(--background-color);
  display: block;
  width: 100%;
  height: var(--input-height);
  border: none;
  border-radius: var(--radius);
  margin-top: var(--label-margin);
}