:root {
  /* font-size */
  --font-size: 15px;
  --title-size: 2em;
  --line-height: 2em;

  /* card-size */
  --card-width: 33rem;
  --card-height: 20rem;

  /* card-interior-size */
  --button-width: 10em;
  --button-height: 3em;
  --portrait-size: 3em;

  /* border-radius */
  --card-border-radius: 20px;
  --button-border-radius: 5px;
  --portrait-border-radius: 50px;

  /* margin */
  --card-margin: 1.5rem;
  --card-interior-margin: 0.5em;

  /* padding */
  --card-padding: 3em;

  /* color */
  --background-color: azure;
  --text-color: azure;
  --gray-text-color: grey;
  --orange-start-color: orange;
  --black-title-color: black;
  --gradient-color-blue: rgba(28, 115, 235, 0.951);
  --gradient-color-pink: rgba(227, 17, 206, 0.83);
  --gradient-color-green: rgba(0, 128, 0, 0.8);

  /* background */
  --introduction-background-a: linear-gradient(to right, var(--gradient-color-blue), var(--gradient-color-pink)), url(office.png);
  --introduction-background-b: linear-gradient(to right, var(--gradient-color-blue), var(--gradient-color-green)), url(office.png);
  --description-background-a: linear-gradient(to right, var(--gradient-color-blue), var(--gradient-color-pink));
  /* border */
  --card-border: 1px solid var(--gray-text-color);
  --button-border: 1px solid var(--text-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  color: var(--text-color);
}

html {
  background-color: var(--background-color);
}

section {
  display: flex;
  align-items: center;
}

p {
  line-height: var(--line-height);
  font-weight: 100;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--card-border-radius);
  margin: var(--card-margin) auto;
  padding: var(--card-padding);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* introduction card */
.card-content-title {
  font-size: var(--title-size);
  margin-bottom: var(--card-interior-margin);
}

.card-content-button {
  margin-top: calc(var(--card-interior-margin)*2);
  width: var(--button-width);
  height: var(--button-height);
  background-color: transparent;
  border: var(--button-border);
  border-radius: var(--button-border-radius);
}

.card-introduction-a {
  background: var(--introduction-background-a);
  background-size: cover;
}

.card-introduction-b {
  background: var(--introduction-background-b);
  background-size: cover;
}

/* description card */
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  margin-bottom: var(--card-interior-margin);
}

.card-head-topic {
  display: flex;
  align-items: center;
}

.card-head-topic-portrait {
  display: inline-block;
  width: var(--portrait-size);
  height: var(--portrait-size);
  border-radius: var(--portrait-border-radius);
  margin-right: var(--card-interior-margin);
  margin-bottom: var(--card-interior-margin);
}

.card-description-a {
  background: var(--description-background-a);
}

/* .card-description-b */
.card-description-b card-topic-text {
  color: var(--gray-text-color);
}

.card-description-b {
  border: var(--card-border);
  background-color: #fff;
}

.card.card-description-b .card-topic-text-name {
  color: var(--black-title-color);
}

.card.card-description-b .card-content-paragraph,
.card.card-description-b .card-topic-text-job {
  color: var(--gray-text-color);
}

.card.card-description-b .card-topic-text-job strong {
  color: inherit;
}

.card.card-description-b .material-symbols-outlined {
  color: var(--orange-start-color);
}